.container {
  display: flex;
  flex-direction: row;
  /* margin-top: -20px; */
  justify-content: flex-start;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.dateTimePickerContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 240px;
  margin-right: 50px;
  /* border-right: 1px solid rgba(0, 0, 0, 0.2); */
}

.dateTimerPickerSeparator {
  margin-top: 15px;
  margin-right: 50px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.taskDetails {
  display: flex;
  flex-direction: column;
  width: 60%;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

.submitButtonContainer {
  width: min-content;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  cursor: pointer;
}
